.App-Cart-Row{
    display: flex;
    justify-content: center;
}

.App-Cart-Row div{
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    justify-content: center;
}