.App-Header-Row {
    display: flex;
    justify-content: space-between;
    background-color: orange;
}

.App-Header-Row div {
    padding: 10px;
}

.App-Header-Row li {
    display: inline-block;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.App-Header-Row button {
    color: white;
    background-color: black;
    border-radius: 5rem;
    height: 3rem;
    width: 8rem;
    font-size: 20px;
    border: solid;
}